@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body{
  background-color: black;
  color: white;
  margin:0;
  box-sizing: border-box;
  font-size:30px;
  background-image: url("./assets/knight.png");
  background-size: cover;

}


nav{
width: 100%;

}
nav li{
list-style-type: none;
padding: 50px;
font-size: 25px;



}

nav ul{
display: flex;
justify-content: center;



}

nav a{
color: white;
text-decoration: none;
}



header {
text-align: center;
font-family:'Cinzel', serif;
display: flex;
flex-direction: column;
color: white;


}

div.headertop{
  width: 100%
  display:flex;
  justify-content: space-between;

}
.headerimg img {
  width: 100%;
}

.headerimg {
  width:20%;
}
.headeritem {
  width:20%;
}
.header-text {
  width: 100%;
  text-align: center;
}


div.headerblog {
  font-size: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}





div.mainheader1 {
  display: flex;
  justify-content: center;

}
div.paragraph1{
  font-family: dealerplate;
  font-size: 20px;
  color: white;
}
div.paragraph2{
  font-family: dealerplate;
  font-size: 20px;
  color: white;
}
div.paragraph3{
  font-family: dealerplate;
  font-size: 20px;
  color: white;
}
div.paragraph4{
  font-family: dealerplate;
  font-size: 20px;
  color: white;
}
div.paragraph5{
  font-family: dealerplate;
  font-size: 20px;
  color: white;
}
div.paragraph6{
  font-family: dealerplate;
  font-size: 20px;
  color: white;
}


main{
  background-color: rgba(0, 0, 0, 0.5);
}
