@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
margin;0;

}



header {
  background-color: purple;
  padding:30px;
  font-family:"Bebas Neue" ,sans-serif;
}

table {
  font-family: "Bebas Neue", sans-serif;
}

td{

}

th
