


  body {
    background-color:gray;
    color:white;
    margin:0;
    box-sizing: border-box;
    font-family: DSnet Stamped;
    font-size:50px;
    

}

nav{
  width: 25%;

}
nav li{
  list-style-type: none;
  padding-bottom: 100px;

}

nav ul{

}

nav a{
color: white;
text-decoration: none;
}


header {
  text-align: center;
  font-family: DSnet Stamped;
}

main{
  display: flex;

}

.maincontent{
  width: 75%;
  font-family: Bebas Neue;
  font-size: 30px;
}

.maincontent img{
  width: 100%;
}
