@font-face {
  font-family: "Verve";
  src: url("../assets23/Verve.ttf")
       url("../assets23/Verve.ttf") 
}


  body {
    background-color:gray;
    color:white;
    margin:0;
    box-sizing: border-box;
    font-family: Verve;
    font-size:50px;


}

nav{
  width: 25%;


}
nav li{
  list-style-type: none;
  padding-bottom: 100px;


}

nav ul{

}




nav a{
color: white;
text-decoration: none;
}


header {
  text-align: center;
  font-family: Verve;
}

main{
  display: flex;

}

.maincontent{
  width: 75%;
  font-family: Verve;
  font-size: 30px;
}

.maincontent img{
  width: 100%;
}

div.about{
  font-size: 25px;

}
